<h4 class="text-center">Actividad del movimiento</h4>

{{ form.actividad['id'] }}

<div class="grid-x">
    <div class="large-3">
        <h6>Fechas de ocurrencia</h6>

        <div class="grid-x grid-padding-x">
            <div class="large-4 cell">
                <label for="middle-label" class="text-right middle">Primer movimiento</label>
            </div>
            <div class="large-8 cell">
                {{ helpers.input(form.actividad.primera_fecha) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
                <div class="large-4 cell">
                    <label for="middle-label" class="text-right middle">Último movimiento</label>
                </div>
                <div class="large-8 cell">
                    {{ helpers.input(form.actividad.ultima_fecha) }}
                </div>
            </div>
        <div class="grid-x grid-padding-x">
            <div class="large-4 cell">
                <label for="middle-label" class="text-right middle">Edad (años)</label>
            </div>
            <div class="large-8 cell">
                    {{ helpers.input(form.actividad.edad) }}
            </div>
        </div>
    </div>
    <div class="large-3">
        <h6>Estado</h6>
        {% for item in form.actividad.estado %}
            <label>{{ item }} {{ item.label }}</label>
        {% endfor %}
        {{ helpers.input_errors(form.actividad.estado) }}
    </div>
    <div class="large-3">
        <h6>Estilo</h6>
        {% for item in form.actividad.estilo %}
            <label>{{ item }} {{ item.label }}</label>
        {% endfor %}
        {{ helpers.input_errors(form.actividad.estilo) }}
    </div>
    <div class="large-3">
            {{ form.actividad.distribucion['id'] }}
            {% set dist = form.actividad.distribucion %}
            <h6>Distribución</h6>
            <label>{{ dist.retrogresivo }} Retrogresivo</label>
            <label>{{ dist.avanzado }} Avanzado</label>
            <label>{{ dist.ensanchado }} Ensanchado</label>
            <label>{{ dist.confinado }} Confinado</label>
            <label>{{ dist.creciente }} Creciente</label>
            <label>{{ dist.decreciente }} Decreciente</label>
            <label>{{ dist.movil }} Móvil</label>
        </div>
</div>
