<h4 class="text-center">Clasificación del movimiento</h4>
<div class="grid-x">
    <div class="large-4">
        <h6>Tipo de movimiento</h6>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Caída
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Volcamiento
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Deslizamiento rotacional
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Deslizamiento traslacional
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Propagación lateral
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Reptación
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Flujo
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Deformaciones g. profundas
    </div>
    <div class="large-4">
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Roca
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Detritos
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Tierra
        <br>
        <h6>Suelos ingeniería</h6>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Bloques
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Cantos
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Grava
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Arena
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Finos
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        M.O.
        <br>
    </div>
    <div class="large-4">
        <h6>Humedad del suelo</h6>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Seco
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Lig. húmedo
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Húmedo
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Muy húmedo
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Mojado
        <br>
        <h6>Plasticidad</h6>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Alta
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Media
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        Baja
        <br>
        <input type="text" style="max-width:50px;display:inline" />
        <input type="text" style="max-width:50px;display:inline" />
        No plástico
    </div>
</div>