<h4 class="text-center">Cobertura y uso del suelo</h4>
{{ form.cobertura_suelo['id'] }}
{{ form.uso_suelo['id'] }}

<div class="grid-x">
    <div class="large-6 small-12">
        <h6>Tipo cobertura</h6>
        <div class="grid-x">
            <div class="large-2 large-offset-4 text-center">%</div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Veg. herbácea</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.herbacea) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Bosque/Selva</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.bosque_selva) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Matorrales</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.matorrales) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Cuerpo agua</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.cuerpo_agua) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Cultivos</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.cultivos) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Construcciones</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.construcciones) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Sin cobertura</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.cobertura_suelo.sin_cobertura) }}
            </div>
        </div>
    </div>
    <div class="large-6 small-12">
        <h6>Tipo uso</h6>
        <div class="grid-x">
            <div class="large-2 large-offset-4 text-center">%</div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Ganadería</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.ganaderia) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Área protegida</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.area_protegida) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Agrícola</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.agricola) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Recreación</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.recreacion) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Zona arqueológica</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.arqueologica) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Zona industrial</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.industrial) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Vivienda</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.vivienda) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Vías</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.vias) }}
            </div>
        </div>
        <div class="grid-x">
            <div class="large-4 cell">
                <label for="middle-label" class="middle">Minería</label>
            </div>
            <div class="large-2 cell">
                {{ helpers.input(form.uso_suelo.mineria) }}
            </div>
        </div>
    </div>
</div>