{% import 'helpers.html' as helpers %}
{% extends '/layout.html' %}
{% block title%}Crear movimiento{%endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/foundation-datepicker.min.css">
{% endblock %}
{% block scripts %}
    <script src="/static/js/vendor/foundation-datepicker.min.js"></script>
    <script src="/static/js/vendor/foundation-datepicker.es.js"></script>
    <script src="/static/js/vendor/jquery.validate.min.js"></script>
    <script src="/static/js/vendor/jquery.validate.es.min.js"></script>
    <script src="/static/js/movimiento-form.js"></script>
{% endblock %}
{% block body %}
    <h3>Crear movimiento</h1>
        
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    
    <form method="POST">
        <ul class="tabs" data-tabs id="form-tabs">
            <li class="tabs-title is-active"><a href="#panel0" aria-selected="true">Datos generales</a></li>
            <li class="tabs-title"><a data-tabs-target="panel1" href="#panel1">Localización</a></li>
            <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Actividad</a></li>
            <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Litologia</a></li>
            <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Clasificación</a></li>
            <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Morfometria</a></li>
            <li class="tabs-title"><a data-tabs-target="panel6" href="#panel6">Causas</a></li>
            <li class="tabs-title"><a data-tabs-target="panel7" href="#panel7">Cobertura</a></li>
            <li class="tabs-title"><a data-tabs-target="panel8" href="#panel8">Referencias</a></li>
            <li class="tabs-title"><a data-tabs-target="panel9" href="#panel9">Efectos S.</a></li>
            <li class="tabs-title"><a data-tabs-target="panel10" href="#panel10">Daños</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="form-tabs">
            <div class="tabs-panel is-active" id="panel0">
                {% include 'movimientos/generales.html' %}
            </div>
            <div class="tabs-panel" id="panel1">
                {% include 'movimientos/localizacion.html' %}
            </div>
            <div class="tabs-panel" id="panel2">
                {% include 'movimientos/actividad.html' %}
            </div>
            <div class="tabs-panel" id="panel3">
                {% include 'movimientos/litologia.html' %}
            </div>
            <div class="tabs-panel" id="panel4">
                {% include 'movimientos/clasificacion.html' %}
            </div>
            <div class="tabs-panel" id="panel5">
                {% include 'movimientos/morfometria.html' %}
            </div>
            <div class="tabs-panel" id="panel6">
                {% include 'movimientos/causas.html' %}
            </div>
            <div class="tabs-panel" id="panel7">
                {% include 'movimientos/cobertura.html' %}
            </div>
            <div class="tabs-panel" id="panel8">
                {% include 'movimientos/referencias.html' %}
            </div>
            <div class="tabs-panel" id="panel9">
                {% include 'movimientos/efectos.html' %}
            </div>
            <div class="tabs-panel" id="panel10">
                {% include 'movimientos/danos.html' %}
            </div>
        </div>

        <br>    
        <div class="text-center">
            <a href="{{ url_for('.index') }}" class="secondary button">Cancelar</a>
            <button type="submit" class="button">Guardar</button>
        </div>    
    </form>    
{%endblock%}