    <div class="grid-x">
        <div class="large-5">
            <div class="grid-x grid-padding-x">
                <div class="large-3 cell">
                    <label for="middle-label" class="text-right middle">Encuestador</label>
                </div>
                <div class="large-9 cell">
                    {{ helpers.input(form.encuestador) }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-3 cell">
                    <label for="middle-label" class="text-right middle">Fecha</label>
                </div>
                <div class="large-9 cell">
                    {{ helpers.input(form.fecha, class="datepick") }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-3 cell">
                    <label for="middle-label" class="text-right middle">Institución</label>
                </div>
                <div class="large-9 cell">
                    {{ helpers.input(form.institucion) }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-3 cell">
                    <label for="middle-label" class="text-right middle">Código</label>
                </div>
                <div class="large-9 cell">
                    {{ helpers.input(form.codigo) }}
                </div>
            </div>
        </div>   
    </div>
    