<h4 class="text-center">Litología y estratigrafía</h4>
<div class="grid-x">
    <div class="large-3">
        <h6>Descripción</h6>
        <textarea rows="5"></textarea>
    </div>
    <div class="large-3  large-offset-1">
        <h6>Estructura</h6>
        <textarea rows="5"></textarea>
    </div>
</div>
<div class="grid-x">
    <div class="large-3">
        <h6>Orientación</h6>
        <table>
            <thead>
                <tr>
                    <th>DB</th>
                    <th>B2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-8 large-offset-1">
        <h6>Espaciamiento (m)</h6>
        <table>
            <thead>
                <tr>
                    <th>&lt;2</th>
                    <th>2 - 0.6</th>
                    <th>0.6 - 0.2</th>
                    <th>0.2 - 0.6</th>
                    <th>&lt;0.6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>