<div class="grid-x">
    <div class="large-4">
        <h6>General</h6>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Diferencia de altura corona a punta (m)</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Longitud horizontal corona a punta (m)</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Fahrböschung</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Pendiente de ladera en post-falla</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Pendiente de ladera en pre-falla</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Dirección del movimiento</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-9 cell">
                <label for="middle-label" class="text-right middle">Azimut del talud</label>
            </div>
            <div class="large-3 cell">
                <input type="text" />
            </div>
        </div>
    </div>    
    <div class="large-8">
        <h6>Dimensiones</h6>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Profundida de la superficie de falla Dr(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Ancho de la superficie de falla Wr(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Longitud de la superficie de falla Lr(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Espesor de la masa desplazada Dd(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Ancho de la masa desplazada Wd(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Longitud de la masa desplazada Ld(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell">
                <label for="middle-label" class="text-right middle">Longitud total L(m)</label>
            </div>
            <div class="large-2 cell">
                <input type="text" />
            </div>
        </div>
    </div>
</div>