{%extends '/layout.html'%}
{%block title%}Usuarios{%endblock%}
{%block body%}    
    <h3>Usuarios</h1>
    <a href="{{ url_for('.create') }}" class="button">Nuevo usuario</a>
    
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Login</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for item in users %}
                <tr>
                    <td>
                        <a href="{{ url_for('.edit', id=item.id)}}">Editar</a> |
                        <a href="{{ url_for('.delete', id=item.id)}}" class="delete-confirm">Eliminar</a>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.login }}</td>
                    <td>{{ 'Administrador' if item.role == 1 else 'Geólogo' }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
                
{%endblock%}