<h4 class="text-center">Actividad del movimiento</h4>
<div class="grid-x">
    <div class="large-3">
        <h6>Fechas de ocurrencia</h6>

        <div class="grid-x grid-padding-x">
            <div class="large-4 cell">
                <label for="middle-label" class="text-right middle">Primer movimiento</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-4 cell">
                <label for="middle-label" class="text-right middle">Edad (años)</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="large-3">
        <h6>Estado</h6>
        <label><input type="checkbox" /> Activo</label>
        <label><input type="checkbox" /> Reactivado</label>
        <label><input type="checkbox" /> Suspendido</label>
        <label><input type="checkbox" /> Latente</label>
        <label><input type="checkbox" /> Abandonado</label>
        <label><input type="checkbox" /> Estabilizado</label>
        <label><input type="checkbox" /> Relicto</label>
    </div>
    <div class="large-3">
        <h6>Estilo</h6>
        <label><input type="checkbox" /> Complejo</label>
        <label><input type="checkbox" /> Compuesto</label>
        <label><input type="checkbox" /> Múltiple</label>
        <label><input type="checkbox" /> Sucesivo</label>
        <label><input type="checkbox" /> Único</label>
        <label><input type="checkbox" /> Enjambre</label>
    </div>
    <div class="large-3">
            <h6>Distribución</h6>
            <label><input type="checkbox" /> Retrogresivo</label>
            <label><input type="checkbox" /> Avanzado</label>
            <label><input type="checkbox" /> Ensanchado</label>
            <label><input type="checkbox" /> Confinado</label>
            <label><input type="checkbox" /> Creciente</label>
            <label><input type="checkbox" /> Decreciente</label>
            <label><input type="checkbox" /> Móvil</label>
        </div>
</div>
