<h6>Población</h6>
<div class="grid-x">
    <div class="large-4">
        <div class="grid-x grid-padding-x">
            <div class="large-8 cell">
                <label for="middle-label" class="text-right middle">Número de muertos</label>
            </div>
            <div class="large-4 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 cell">
                <label for="middle-label" class="text-right middle">Número de heridos</label>
            </div>
            <div class="large-4 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 cell">
                <label for="middle-label" class="text-right middle">Número damnificados</label>
            </div>
            <div class="large-4 cell">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="large-7 large-offset-1">
        Convención para intensidad del daño<br>
        DL: Daño leve<br>
        DM: Daño moderado<br>
        DS: Daño severo<br>
        DT: Destrucción total total<br>
        NC: No cuantificable
    </div>
</div>

<table>
    <thead>
        <tr>
            <th colspan="10" class="text-center">Infraestructura (Inf) / Actividades económicas (AE) / Daños ambientales (DA)</th>
        </tr>
        <tr>
            <th>INF</th>
            <th>AE</th>
            <th>DA</th>
            <th>Tipo</th>
            <th>Unidad de medida</th>
            <th>DL</th>
            <th>DM</th>
            <th>DS</th>
            <th>DT</th>
            <th>Valos USS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
        </tr>
    </tbody>
</table>