<h4 class="text-center">Localización geográfica y documental del evento</h3>

<div class="grid-x">
    <div class="large-5">
        <h6>Por división política</h6>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">País</label>
            </div>
            <div class="large-9 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Dpto./Prov./Edo.</label>
            </div>
            <div class="large-9 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Municipio/Ciudad</label>
            </div>
            <div class="large-9 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Localidad</label>
            </div>
            <div class="large-9 cell">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="large-4">
        <h6>Coordenadas</h6>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Sitio</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Norte/Lat.</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Este/Long.</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Proyección</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-3 cell">
                <label for="middle-label" class="text-right middle">Altura sitio(m.s.n.m.)</label>
            </div>
            <div class="large-8 cell">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="large-3">
        <h6>Referentes geográficos</h6>
        <textarea rows="6"></textarea>
    </div>
</div>

<h6>Documentación</h6>
<table>
    <thead>
        <tr>
            <th>Mapa/Plancha No.</th>
            <th>Año</th>
            <th>Escala</th>
            <th>Editor</th>
            <th>Fotografía No.</th>
            <th>Año</th>
            <th>Escala</th>
            <th>Editor</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
