{%extends '/layout.html'%}
{% import 'helpers.html' as helpers %}
{%block title%}Cambiar mi contraseña{%endblock%}
{%block body%}    
    <h3>Cambiar mi contraseña</h1>

    {{ helpers.error_summary() }}

    <form method="POST">
        <div class="grid-x grid-padding-x">
            <div class="large-2 cell">
                <label for="middle-label" class="text-right middle">Contraseña actual</label>
            </div>
            <div class="large-3 cell">
                {{ helpers.input(form.password) }}
            </div>
        </div>
    
        <div class="grid-x grid-padding-x">
            <div class="large-2 cell">
                <label for="middle-label" class="text-right middle">Nueva contraseña</label>
            </div>
            <div class="large-3 cell">
                {{ helpers.input(form.new_password) }}
            </div>
        </div>
    
        <div class="grid-x grid-padding-x">
            <div class="large-2 cell">
                <label for="middle-label" class="text-right middle">Confirma la contraseña</label>
            </div>
            <div class="large-3 cell">
                {{ helpers.input(form.confirm_password) }}
            </div>
        </div>
        
        <div class="grid-x grid-padding-x">
            <div class="large-3 large-offset-2 cell">
                <a href="{{ url_for('index') }}" class="secondary button">Cancelar</a>
                <button type="submit" class="button">Guardar</button>
            </div>
        </div>
    </form> 
{%endblock%}