{%- macro input(control) %}
    {{ control }}                
    {% if control.errors %}
        <ul class="error-msg">
            {% for error in control.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{%- macro input_errors(control) %}
    {% if control.errors %}
        <ul class="error-msg">
            {% for error in control.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{%- macro error_summary() %}
    {% with errors = get_flashed_messages() %}
        {% if errors %}
            <ul class="error-msg callout alert">
            {% for error in errors  %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endmacro %}